.navbar-section{
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.small-form{
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 20vh;
    left: 20vw;
    background-color: rgb(99, 149, 149);
    padding: 10px;
    border-radius: 5px;
    input , textarea{
        border-radius: 5px;
        color: black;
        padding: 5px;
        width: 100%;
    }
}


.hide{
    display: none;
    background-color: rgb(14, 14, 14);
}