.navbar-section{
    height: 70px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.small-form{
    height: fit-content;
    width: fit-content;
    position: fixed;
    top: 20vh;
    left: 20vw;
    background-color: rgb(99, 149, 149);
    padding: 10px;
    border-radius: 5px;
    input , textarea{
        border-radius: 5px;
        color: black;
        padding: 5px;
        width: 100%;
    }
}


.hide{
    display: none;
    background-color: rgb(14, 14, 14);
}


.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: fit-content;
}




.prev-card {
    flex: 1 0 200px;
    min-width: 200px;
    max-width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
    font-size: 17px;

    h1 {
        color: #182a2e;

        a {
            color: rgb(203, 222, 240);
        }
    }
}

.prev-card:nth-child(even){
    background-color: var(--color1);
}

.prev-card:nth-child(odd){
    background-color: var(--color8);
}

.candidate-vote-card{
    gap: 2px;
    min-width: 500px;
    min-height: 100px;
    max-height: fit-content;
    padding: 10px;
}
.candidate-vote{
    width: 100%;
    td{
        text-align: center;
    }
}
.bars{
    width: 40px;
}
.bar{
    height: 8px;
    width: 100%;
    background-color: #182a2e;
}
.bar:nth-child(1){
    transform: rotate(45deg) translateX(2px) translateY(4px);
}
.bar:nth-child(2){
    transform: rotate(-45deg) translateX(2px) translateY(-4px);
}