:root{
    --color1: #C38EB4;
    --color2: #26425A;
    --color3: #294D61;
    --color4: #6DA5C0;
    --color5: #05161A;
    --color6: #F1916D;
    --color7: #EAAC8B;
    --color8: #E56B6F;
}

.form-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color2);  
  }

.formc{
    border: 1px solid var(--color1);
    padding: 10px;
    border-radius: 5px;
    input{
        margin-bottom: 10px;
        color: var(--color5);
        padding: 5px;
        border-radius: 5px;
        outline: none;
    }
}
.passwordInput {
    position: relative;
}

.togglePassword {
    position: absolute;
    top: 40%;
    width: 30px;
    right: 5px;
    transform: translateY(-50%);
    padding: 5px;
    background-color: white;
    border: none;
    cursor: pointer;
    outline: none;
    color: #333;
}

.togglePassword:hover {
    color: #007bff; 
}

.Btn{
    margin-top: 10px;
    height: 40px;
    width: 100px;
    border-radius: 10px;
    font-weight: bolder;
    background-color: var(--color6);
}
.Btn:hover{
    border: 1px solid var(--color7);
    color: var(--color6);
    background-color: var(--color2);
}
.link{
    color: var(--color8);
}