:root {
    --color1: #C38EB4;
    --color2: #26425A;
    --color3: #294D61;
    --color4: #6DA5C0;
    --color5: #05161A;
    --color6: #F1916D;
    --color7: #EAAC8B;
    --color8: #E56B6F;
}

.profile {
    display: flex;
}

.small-btn {
    display: none;
}

.nav-bar {
    z-index: 100;
}

.navigation-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    min-width: 200px;
    background-color: var(--color5);
    border-top-right-radius: 50px;
}

.nav-btn {
    height: 40px;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    border-bottom: 2px solid rgba(9, 34, 50, 0.92);
    transition: 0.1s all;
}

.nav-btn:hover,
.selected-btn {
    border-radius: 50px;
    background-color: var(--color3);
    font-size: large;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: fit-content;
}


.dashboard-card {
    flex: 1 0 200px;
    min-width: 200px;
    max-width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.prev-card {
    flex: 1 0 200px;
    min-width: 200px;
    max-width: 250px;
    height: 200px;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border-radius: 10px;
    font-size: 17px;

    h1 {
        color: #182a2e;
        a {
            color: rgb(203, 222, 240);
        }
    }
}

.prev-card:nth-child(even),
.dashboard-card:nth-child(even) {
    background-color: var(--color1);
}

.prev-card:nth-child(odd),
.dashboard-card:nth-child(odd) {
    background-color: var(--color8);
}

.dashboard-card h1:nth-child(1) {
    font-size: 50px;
    margin-bottom: 15px;
}

.candidate-card {
    flex: 1 1 300px;
    min-width: 300px;
    margin: 5px;
    padding: 10px;
    background-color: var(--color5);
    border-radius: 10px;
    border-radius: 10px;

    img {
        height: 150px;
    }
}

.not-approved {
    color: rgb(233, 28, 28);
}

.candidate-details p a {
    color: var(--color1);
}

.candidate-details p {
    color: #a7dbf5;
}

.lists-head {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2px;
    color: #f4cdbe;
}

table {
    margin: 10px;
    width: 100%;
    height: fit-content;
}

th {
    background-color: rgb(80, 90, 101);
    color: #f4cdbe;
    height: 50px;
    border-radius: 10px;
}

tr {
    height: fit-content;
}

.voter-row {
    text-align: center;
    height: 35px;

    .voter-name {
        text-transform: capitalize;
    }
}

.pending {
    width: 100%;
    margin: 10px;
}

.pending-voters {
    display: flex;
    justify-content: space-between;
    height: 60px;
    border-radius: 5px;
    width: 100%;
    align-items: center;
    background-color: rgb(74, 81, 88);
    padding: 10px;
}

.pending-voters a:nth-child(1) {
    text-transform: capitalize;
}

.admin-content{
    width: 100%;
    overflow: hidden;
    padding: 10px;
}
.add-form{
    width: fit-content;
}


@media (max-width:700px) {
    .navigation-bar {
        position: relative;
        left: -100%;
    border-top-right-radius: 0px;
        transition: 0.8s all;
    }

    .hide {
        left: 0%;
    }

    .small-btn {
        position: relative;
        display: block;
        z-index: 10;
        background-color: var(--color5);
    }

    .main-content {
        margin-top: 50px;
        position: absolute;
        width: 100%;
    }

}